[Unit]
Description=TaskLord Application
After=network.target

[Service]
Type=simple
User=samo
WorkingDirectory=/home/samo/Data/Pixel/TaskLord
ExecStart=/bin/bash /home/samo/Data/Pixel/TaskLord/run.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
